/* You can add global styles to this file, and also import other style files */
.jumbotron{
    background-color: #44C3AA;
}

body{
    background: url('./assets/comb-background.jpg') no-repeat center;
}

.btn.btn-success{
    background-color:#44C3AA;
}