

    <nav class="navbar navbar-toggleable-sm">
        <div class="col-2 col-sm-3">
            <!-- Branding information with this class -->
         <a class="navbar-brand" href="#">
                <h3 class="mt-0 text-white">Super Budget Planner</h3>
        </a>
        </div> 
        <div class="col-9 offset-sm-7 col-sm-auto ">
            <ul class="nav nav-pills">
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="./budgets-page"><span class="fa fa-bar-chart-o fa-lg"></span> MyBudgets</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="#"><span class="fa fa-calculator fa-lg"></span> Calculator</a></li>
            </ul>
        </div>              
       
    </nav>

